$css_prefix: "sc_";

.#{$css_prefix}spreadsheet {
  isolation: isolate;
  border: 2px solid black;
  width: 100%;
  min-height: 200px;
} 
.#{$css_prefix}spreadsheet_table {
  position: relative;
  isolation: isolate;
  width: 100%;
  height: 100%;
}

.#{$css_prefix}spreadsheet_scroller {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
  box-sizing: border-box;
  transform: translateZ(0);
  top: 0px;
  left: 0px;

  &:focus {
    outline: none;
  }
}

.#{$css_prefix}spreadsheet_canvas {
  position: absolute;
  contain: strict;
  display: block;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.#{$css_prefix}spreadsheet_toolbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}